Gemfile.lock
/apps/backend/config/pdf_configs.yml
/config/*xml
/config/databases.yml
/config/propel.ini
/config/deploy*.rb
/config/nc_flavor.yml
/config/school_behaviour
/cache/backend
/cache/*cache
/data/sql/*sql
data/sql/sqldb.map
/data/persons-photos/*
/data/disciplinary-sanction-documents/*
/data/justification-documents/*
/backups
/graph
/lib/filter/base/*
/lib/form/base/*
/lib/model/om/*
/lib/model/map/*
/log/*
plugins/ncPropelChangeLogBehaviorPlugin/lib/model/map/*php
plugins/ncPropelChangeLogBehaviorPlugin/lib/model/om/*php
plugins/pmModuleEnablerPlugin/lib/model/map/*php
plugins/pmModuleEnablerPlugin/lib/model/om/*php
plugins/sfGuardSecurePlugin/lib/model/map/*php
plugins/sfGuardSecurePlugin/lib/model/om/*php
plugins/sfGuardSecurePlugin/lib/filter/base/*php
plugins/sfGuardSecurePlugin/lib/form/base/*php
plugins/.depdb
plugins/.filemap
plugins/.depdblock
plugins/.lock
plugins/.channels
plugins/.registry
/web/sfPropelPlugin
/web/sfPropelRevisitedGeneratorPlugin
/web/sfProtoculousPlugin
/web/sfFormExtraPlugin
/web/dcFormExtraPlugin
/web/sfTCPDFPlugin
/web/css
/web/images
/web/uploads/disciplinary-sanction-documents/*
