/apps/backend/config/pm_pdf_kit.yml
/apps/backend/config/pdf_configs.yml
/config/*xml
/config/propel.ini
/config/nc_flavor.yml
/config/school_behaviour
/cache/[a-zA-Z]*
/data/sql/*
/data/persons-photos/*
/data/disciplinary-sanction-documents/*
/data/justification-documents/*
/lib/filter/base/*php
/lib/form/base/*php
/lib/model/om/*php
/lib/model/map/*php
/log/*
/plugins/*/lib/filter/base/*php
/plugins/*/lib/form/base/*php
/plugins/*/lib/model/om/*php
/plugins/*/lib/model/map/*php
/plugins/*/lib/model/local/om/*php
/plugins/*/lib/model/local/map/*php
/web/sfPropelPlugin
/web/sfPropelRevisitedGeneratorPlugin
/web/sfProtoculousPlugin
/web/sfFormExtraPlugin
/web/dcFormExtraPlugin
/web/sfTCPDFPlugin
/web/css
/web/images
