/*
    Document   : report-card
    Created on : 24/01/2012, 13:37:48
    Author     : ecorrons
    Description:
        Contains required styles for HTML report cards.
*/

body {
    text-align:center;
    font-family:Trebuchet MS, sans-serif;
    font-size:11px;
    color:#333 !important;
    background-color: #FFF !important;
}

/* wrapper */

.report-wrapper
{
    background-color: white !important;
    text-align:left;
    width:900px;
    margin:30px auto;
}

.report-header {
    float:left;
    width:100%;
}

.report-header .logo
{
    float:left;
}

.report-header .date
{
    text-align:right;
    padding:5px 0px;
    float:right;
}

.header_row {
    border-bottom:1px solid #ccc;
    float:left;
    width:100%;
    padding:5px 0px;
}

.header_row .header_right
{
    float:right;
}

.header_row .title
{
    float:left;
    font-weight:bold;
    font-size:13px;
    padding-top:3px;
    padding-right:5px;
}

.header_row .name
{
    float:left;
    font-size:16px;
}

.header_row .course
{
    float:left;
    font-size:13px;
    padding:3px;
    width:20px;
}

.header_row .school_year
{
    float:left;
    font-size:13px;
    padding-right: 10px !important;
    padding:3px;
    width:20px;
}

.header_row .division
{
    float:left;
    font-size:13px;
    padding:3px;
    width:100px;

}


.header_row .orientation
{
    float:left;
    font-size:13px;
    padding:3px;
}

.row_top
{
    float:left;
    background:#f2f2f2;
    font-size:11px;
    text-align:left;
    border-bottom:1px solid #ccc;
    width:100%;
    padding:5px 0px;
    text-transform:uppercase;
}

.report-content {
    float:left;
    width:100%;
}

.report-content .title {
    font-size: 12px;
    font-weight: bold;
    padding:5px;
    text-transform: uppercase;
    background:#f2f2f2;
    border-bottom:1px solid #ccc;
}

.report-content .report-average{
    font-size: 12px;
    font-weight: bold;
    padding:5px;
    text-transform: uppercase;
    background:#f2f2f2;
    border-bottom:1px solid #ccc;
}

.row {
    border-bottom:1px solid #ccc;
    text-align:left;
    width:100%;
    float:left;
    padding:2px 0px;
}


.row .txt {
    padding: 10px;
    border-left:1px solid #999;
}

/***table***/

table.gridtable {
    font-family:arial,sans-serif;
    font-size:11px;
    color:#333333;
    border:none;
    border-collapse: collapse;
    width:100%;
    text-align:left;
}

table.gridtable th {
    padding: 3px;
    border-bottom:1px solid #ccc;
    font-size:12px;
}

.th-subject-name {
    width:20%;
}

table.gridtable td {
    padding: 3px;
    border-bottom:1px solid #ccc;
    background-color: #ffffff;
}

table.gridtable tr {
    border-bottom:1px solid #ccc;
    background-color: #ffffff;
    text-align:center;
}

.subject_name
{
    text-align: left !important;
}

/***table***/

table.lefttable {
    font-family:arial,sans-serif;
    font-size:11px;
    color:#333333;
    border:none;
    border-collapse: collapse;
    width:100%;
    text-align:left;
}

table.lefttable tr {
    border-top:1px solid #ccc;
    background-color: #ffffff;
}

.colsleft{
    float:left;
    width: 48.5%;
}

.colsright{
    float:right;
}

.row{
    border:1px solid #ccc;
    float:left;
    margin-top:5px;
    margin-right:5px;
}

.titletable {
    font-size:12px;
    font-weight:bold;
    display:block;
    padding:3px;
}

.rowins{
    border:1px solid #ccc;
    margin-top:10px;
    padding:0px 5px;
}

.rowcom{
    border:1px solid #ccc;
    padding:0px 5px;
    float:right;
    width:46%;
    margin-top:5px;
  min-height: 5em;
}

.rowamon{
    border:1px solid #ccc;
    padding:0px 5px;
    width:40%;
    float: left;
    margin-top:5px;
}

.rowfirm_authority{
    border:1px solid #ccc;
    float:left;
    margin-top:10px;
    margin-right: 5px;
    padding:0px 15px;
    height:123px;
    min-width: 45%;
}

.rowfirm_responsible{
    border:1px solid #ccc;
    float:right;
    margin-top:10px;
    margin-left:5px;
    padding:0px 15px;
    height:123px;
    min-width: 45%;
}

.rownotice{
    border:1px solid #ccc;
    float:left;
    margin-top:10px;
    padding:0px 15px;
    height:123px;
    width:405px;
}

.colsbottom{
    float: bottom;
}

.report-header .school-year
{
    text-align:right;
    padding:5px 0px;
    margin-right: 10px;
    float:right;
}

.hr_break {
  border:dashed #000;
  border-width:1px 0 0 0;
  height:0;
  line-height:0px;
  font-size:0;
  margin-bottom:15px;
  margin-top: 15px;
  padding:0;
}

.partial_average
{
  text-align: left !important;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.total {
  text-align: right;
  text-transform: uppercase;
}

.big-total {
  font-size: larger;
  font-weight: bold;
}

/***table for calification sheet***/

table.gridtable_bordered {
    font-family:arial,sans-serif;
    font-size:11px;
    color:#333333;
    border:1px solid #ccc;
    border-collapse: collapse;
    width:100%;
    text-align:left;
}

table.gridtable_bordered th {
    padding: 3px;
    border:1px solid #ccc;
    font-size:12px;
}

table.gridtable_bordered td {
    padding: 3px;
    border:1px solid #ccc;
    background-color: #ffffff;
}

table.gridtable_bordered tr {
    border:1px solid #ccc;
    background-color: #ffffff;
    text-align:center;
}

.header_row .title2
{
  float:left;
  font-weight:bold;
  font-size:13px;
  padding-right:5px;
  padding-left: 5px;
}

.header_row .row-content
{
  float:left;
  font-size:13px;
}
.report-text{	
	font-size: 14px;
	text-align: justify;
	margin-top: 135px;
	line-height: 130%;
}

div.report-text p {	
	text-indent:3em;
}
.certificate-wrapper{
  text-align:left;
  width:600px;
  margin-left:40px;
  margin-right:40px;
  margin-top:30px;
}

#signature{
	margin-top:15%;
	float: right;
	width: 250px;
	border-top: 1px solid;
	text-align:center;
}

.logo_certificate img{
    width: 18%;
    margin: 10px;
}

.report-content_student{
    font-size: 14px
}

.tab_div{
    margin-left: 15px;
}

.text-right{
    text-align:right;
}

#analytic_signatures .signature
{
    float: left;
    width: 39%;
    height: 1.5em;
    text-align: center;
    border-top: 1px solid;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 7em;
    padding-top: 1em;
    font-size:12px;
}

.observation_mark_trimester
{
    text-align: left;
    width: 28%;
}

.observation_mark_bimester
{
  text-align: left;
  width: 39%;
}

.observation_title
{
  margin-left:20em;
}
