/* 
    Created on : 18-ago-2015, 11:53:20
    Author     : lucianoc
*/
.header_row .title {
    padding-top: 2em;
}

.analytical
{
    padding: 2em;

}

.analytical_body_table {
    font-size: 13px;
}

#header_analytical_data_left
{
    width: 20%;
    height: 1px;
}
#header_analytical_data_right
{
    width: 0;
}
#header_analytical_data_center
{
    width: 60%;
}
#header_analytical_data_center h1
{
    display: inline;

    background-color: white;
    border-bottom: none;
    border-top: none;
    margin: 0;
    padding: 0;
    
}

.title dd.detail{
    font-weight: normal;
    padding-left: 1em;
}
#header_analytical_data_center h1 small
{
    display: block;
    font-weight: normal;
}
.analytical hr
{
    margin: 0;
    border-color: black;
    border-style: solid;
}
#analytical_footer
{
    clear: both;
    float: left;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    width: 100%;
}
.report-content {
    float: left;
    margin-top: 1em;
    width: 100%;
}

.school_logo
{
    float: right;
    height: 92px;
}

#promedio_gral
{
    text-align: center; 
    width: 33%  !important; 
    margin-left: 33%  !important;
    font-weight: bold;
}
#promedio_gral_valor
{
    border: 1px solid;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#analytic_signatures .signature
{
    float: left;
    width: 39%;
    height: 1.5em;
    text-align: center;
    border-top: 1px solid;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10em;
    padding-top: 1em;
}

.detail
{
    font-weight: normal;
}

.analytical_info
{
    width: 25%;
    display: inline-block;
    padding: 20px !important;
}

.header-text
{
    text-align: justify;
    line-height: 1.4;
}
