/* 
    Created on : 18-ago-2015, 11:53:20
    Author     : lucianoc
*/
.sf_admin_actions, #header, #menu-div, #screen_header, #footer {
    display: none;
}

.misma_pagina {
   /* page-break-inside: avoid;*/
}

.table {
    margin-bottom: 1em;
    page-break-inside: avoid; 
}
.table tr
{
        /*page-break-inside: avoid;*/
}

.table thead th{
    font-size: 10px;
    padding-top: 1px !important;
    padding-bottom: 0 !important;
}

.table td {
    font-size: 8px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.table tbody th {
    font-size: 10px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.analytical_body_table {
    font-size: 14px !important;
}

#header_analytical_data_left
{
    width: 0;
}
#header_analytical_data_right
{
    width: 0;
}
#header_analytical_data_center
{
    width: 100%;
}
.analytical_info{
    width: 30%;
    display: inline-block;
    padding: 25px !important;
    font-size:12px;
}
.report-header{
    margin-top: -10% !important;
}

.analytical_year{
    text-align:center;
    padding-bottom: 1px !important;
    font-size:11px;
}

.analytical_form{
    display: none;
}

.analytical_form_info{
    display: block;
}

.analytic_info{
    display: block;
}