/*
    Document   : report-card
    Created on : 02/02/2012, 13:37:48
    Author     : ecorrons
    Description:
        Contains required styles for printing HTML report cards.
*/

body {
  text-align:center;
  font-family:arial,sans-serif;
  font-size:11px;
  color:#333;
}

/* wrapper */

.report-wrapper
{
  text-align:left;
  width:98%;
  margin:4px auto;
}

.report-header
{
  float:left;
  width:100%;
}

.report-header .logo
{
  float:left;
}

.report-header .date
{
  text-align:right;
  padding:5px 0px;
  float:right;
}

.header_row {
  border-bottom:1px solid #ccc;
  float:left;
  width:100%;
  padding:3px 0px;
}

.header_row .header_right
{
  float:right;
}

.header_row .title
{
  float:left;
  font-weight:bold;
  font-size:13px;
  padding-top:65px;
  padding-right:5px;
  padding-left: 5px;
}

.header_row .name
{
  float:left;
  font-size:14px;
  padding-top: 62px;
  width: 45%;
}

.header_row .course
{
  float:left;
  font-size:13px;
  width:20px;
  padding-top: 65px;

}

.header_row .division
{
  float:left;
  font-size:13px;
  width:100px;
  padding-top: 65px;
}

.header_row .orientation
{
  float:left;
  font-size:13px;
  padding-top: 65px;
}

.header_row .school_year
{
  float:right;
  font-size:13px;
  padding-top: 65px;
}

.row_top
{
  float:left;
  background:#f2f2f2;
  font-size:11px;
  text-align:left;
  border-bottom:1px solid #ccc;
  width:100%;
  padding:5px 0px;
  text-transform:uppercase;
}

.report-content {
  float:left;
  width:100%;
}

.report-content .title {
  font-size: 10px;
  font-weight: bold;
  padding:5px;
  text-transform: uppercase;
  background:#f2f2f2;
  border-bottom:1px solid #ccc;
}

.report-content .report-average{
  font-size: 12px;
  font-weight: bold;
  padding:5px;
  text-transform: uppercase;
  background:#f2f2f2;
  border-bottom:1px solid #ccc;
}

.row {
  border-bottom:1px solid #ccc;
  text-align:left;
  width:100%;
  float:left;
  padding:2px 0px;
}


.row .txt {
  padding: 10px;
  border-left:1px solid #999;
}

/***table***/

table.gridtable {
  font-family:arial,sans-serif;
  font-size:11px;
  color:#333333;
  border:none;
  border-collapse: collapse;
  width:100%;
  text-align:center;
}

table.gridtable th {
  padding: 3px;
  border-bottom:1px solid #ccc;
  font-size:12px;
}

.th-subject-name {
  width:20%;
}

table.gridtable td {
  padding: 2px;
  border-bottom:1px solid #ccc;
  background-color: #ffffff;
}

table.gridtable tr {
  border-bottom:1px solid #ccc;
  background-color: #ffffff;
}

.subject_name
{
  text-align: left !important;
}

/***table***/

table.lefttable {
  font-family:arial,sans-serif;
  font-size:11px;
  color:#333333;
  border:none;
  border-collapse: collapse;
  width:100%;
  text-align:left;
}

table.lefttable tr {
  border-top:1px solid #ccc;
  background-color: #ffffff;
}

.colsleft{
  float:left;
  height: auto;
  width:51%;
  padding-top: 5px;
}

.colsright{
  float:right;
  width: 48%;
  padding-top: 5px;
}

.row{
  border:1px solid #ccc;
  float:left;
  margin-top:5px;
  margin-right:5px;
}

.titletable {
  font-size:11px;
  font-weight:bold;
  display:block;
  padding:2px;
}

.rowins{
  border:1px solid #ccc;
  padding:0px 4px;
  min-height: 5em;
  max-width: 25em;
}

.rowcom{
  border:1px solid #ccc;
  padding:0px 4px;
  float:left;
  width:auto;
  min-height: 5em;
  max-width: 17.5em;
}

.rowamon{
  border:1px solid #ccc;
  padding:0px 4px;
  float:left;
  width:auto;
  height: 5em;
}

.rowfirm_authority{
  border:1px solid #ccc;
  float:left;
  padding:0px 10px;
  height:100px;
  width: auto;
}

.rowfirm_responsible{
  border:1px solid #ccc;
  float:left;
  padding:0px 10px;
  height:100px;
  width: auto;
  margin-right: 5px;
}

.rownotice{
  border:1px solid #ccc;
  float:left;
  padding:0px 20px;
  height:100px;
  width:auto;
  margin-right: 5px;
}

#sfWebDebug,
.non-printable
{
  display: none !important;
}

.report-header .school-year
{
    text-align:right;
    padding:5px 0px;
    margin-right: 10px;
    float:right;
}

/***table for calification sheet***/

table.gridtable_bordered {
    font-family:arial,sans-serif;
    font-size:11px;
    color:#333333;
    border:1px solid #ccc;
    border-collapse: collapse;
    width:100%;
    text-align:left;
}

table.gridtable_bordered th {
    padding: 3px;
    border:1px solid #ccc;
    font-size:12px;
}

table.gridtable_bordered td {
    padding: 3px;
    border:1px solid #ccc;
    background-color: #ffffff;
}

table.gridtable_bordered tr {
    border:1px solid #ccc;
    background-color: #ffffff;
    text-align:center;
}

.header_row .title2
{
  float:left;
  font-weight:bold;
  font-size:13px;
  padding-right:5px;
  padding-left: 5px;
}

.header_row .row-content
{
  float:left;
  font-size:13px;
}