/* 
    Created on : 18-ago-2015, 11:53:20
    Author     : lucianoc
*/
.sf_admin_actions, #header, #menu-div, #sf_admin_container, #footer {
    display: none;
}

.misma_pagina {
    page-break-inside: avoid;
}

.table {
    margin-bottom: 1em;
/*    page-break-inside: avoid; */
}
.table tr
{
        page-break-inside: avoid;
}

