/* 
    Created on : 18-ago-2015, 11:53:20
    Author     : lucianoc
*/
.header_row .title {
    padding-top: 2em;
}

.analytical
{
    padding: 2em;
}

#header_analytical_data_left
{
    width: 20%;
}
#header_analytical_data_right
{
    width: 20%;
    float: right
}
#header_analytical_data_center
{
    width: 55%;
    text-align: center;
}
#header_analytical_data_center h1
{
    display: inline;

    background-color: white;
    border-bottom: none;
    border-top: none;
    margin: 0;
    padding: 0;
    
}

.detail{
    font-weight: normal;
}
#header_analytical_data_center h1 small
{
    display: block;
    font-weight: normal;
}
.analytical hr
{
    margin: 0;
    border-color: black;
    border-style: solid;
}
#analytical_footer
{
    font-size: 14px;
    clear: both;
    float: left;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    width: 100%;
}
.report-content {
    float: left;
    margin-top: 1em;
    width: 100%;
}

.school_logo
{
    width: 10%;
    margin-bottom: 1em;
}

#promedio_gral
{
    text-align: center; 
    width: 33%  !important; 
    margin-left: 33%  !important;
    font-weight: bold;
}
#promedio_gral_valor
{
    border: 1px solid;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#analytic_signatures .signature
{
    float: left;
    width: 39%;
    height: 1.5em;
    text-align: center;
    border-top: 1px solid;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10em;
    padding-top: 1em;
}

.analytical_body_table 
{
    font-size: 13px;
}

.header-text
{
    font-size: 16px;
}

.analytical-observations
{
    display: none;    
}

.analytical-form
{
    display: inline-block;
    font-size: 16px;    
}

#analytic_observations
{
    font-size: 14px !important;
    width: 50em !important;
}
.header_row
{
    border: none;
}

.analytical-header-text{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-top: 3em !important;
    margin-bottom: 2em !important;
    padding: 1em 0 !important;
}

#subject_observations{
    margin-left: -2em;
}

#signature_2{
    margin-left: 30%!important;
}