body {
 font-family:trebuchet ms,sans-serif;
 font-size:11px;
 color:#000;
 margin:0;
 padding:0;
 /*background:#c5c5c5;*/
    background: #deedf7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#deedf7, #fff); 
    background: -o-linear-gradient(#deedf7, #fff);   
    background: -moz-linear-gradient(#deedf7, #fff); 
    background: linear-gradient(#deedf7, #fff);
    background-attachment: fixed;
 /*background-repeat:no-repeat;*/
}

#login {
 position: absolute;
 width: auto; /* ancho de la capa a centrar */
 height: auto; /* alto de la capa a centrar */
 top: 25%;
 left: 56%;
 margin-left: -200px; /* mitad del ancho de la capa a centrar */
 margin-top: -100px; /* mitad del alto de la capa a centrar */
}

#login .left {
 padding:0px;
 width: 256px;
 padding:5px 5px;
}

#login .right {
 width: 256px;
 height:320px;
 padding:5px 0 0 0px;
 /*background:url(../images/bg_login.png) top center ;*/
 background-repeat:no-repeat;
 text-align:left;
}

#login .logo {
 font-family:arial,sans-serif;
 font-size:14.5px;
 color:#fff;
 width: 256px;
 height:80px;
 margin:0px 0px 0px 0px;
 background-image:url(../images/login_logo.png);
 background-repeat:no-repeat;
 background-position: center;
}

#login .logo_subtitle{
 font-family:trebuchet ms, serif;
 font-size:10px;
 color:#fff;
 margin:5px 0px 0px 40px;
 padding-bottom:5px;
 text-align:left;
}

#login .title_login {
 font-size:18px;
 font-weight:bold;
 color:#000;
 padding-bottom:10px;
 margin:23px 0 10px 0;
 /*background:url(../images/line.png) left bottom ;*/
 border-bottom: 2px solid #c1e1f6;
 background-repeat:no-repeat;
 text-align:left;
}

#login .form_row {
 margin:5px 0;
 border:0px solid red;
}

#login .name {
 font-size:12px;
 color:#000;
 margin-top:5px;
 text-align:left;
}

#login .password {
 font-size:12px;
 color:#000;
 text-align:left;
}

#login .remember {
 font-size:12px;
 color:#000;
 margin-top:5px;
 text-align:left;
}

#signin_password, #signin_username {
 margin-bottom: 1rem !important;
 border:1px solid #c1e1f6;
 margin:0px;
 padding:2px;
 height:25px;
 width:250px;
 font-size:11px;
 text-align:left;
}

#login .link_login {
 font-size:12px;
 font-weight:bold;
 color:#fff;
}

#login .button {
 margin-top:10px;
 border:0px solid red;
 cursor: pointer;
 font-weight:bold;
 font-size:12px;
 color:#000;
 height:auto;
 width:auto;
 text-decoration:none;
 outline:none;
 background:none;
 padding:5px 10px;
 background: #c1e1f6;
 float:right;
 -moz-border-radius: 5px 5px 5px 5px;
}

#login .button:hover {
  color: #fff;
  background: #000;
}

#login .form_footer {
 display: none;
 margin:5px 0px 5px 0px;
 text-align:center;
 color:#000;
 clear:both;
 width:300px;
}

#login .error_list {
  color:red;
  list-style:none;
  padding:0;
  margin:0;
  font-size: 10px;
}

.captcha_label {
 font-size:11px;
 float:left;
}

#signin_captcha {
 border:1px solid #deedf7;
 padding:2px;
 height:26px;
 width:80px;
 font-size:11px;
 margin-top:10px;
 margin-right:20px;
}

.captcha {
  margin-top:10px;
  float:left;
}