/*
    Document   : report-card
    Created on : 24/01/2012, 13:37:48
    Author     : ecorrons
    Description:
        Contains required styles for HTML report cards.
*/

body {
  text-align:center;
  font-family:Trebuchet MS, sans-serif;
  font-size:11px;
  color:#333;
}

/* wrapper */

.report-wrapper{
  text-align:left;
  width:900px;
  margin:30px auto;
}

.report-header {
  float:left;
  width:100%;
}

.report-header .logo
{
  float:left;
}

.report-header .date
{
  text-align:right;
  padding:5px 0px;
  float:right;
}

.header_row {
  border-bottom:1px solid #ccc;
  float:left;
  width:100%;
  padding:5px 0px;
}

.header_row .header_right
{
  float:right;
}

.header_row .title
{
  float:left;
  font-weight:bold;
  font-size:13px;
  padding-top:3px;
  padding-right:5px;
  margin-left: 30px;
}



.header_row .name
{
  font-size:16px;
  float:left;

}

.header_row .course
{
  float:left;
  font-size:13px;
  padding:3px;
  width:35px;

}

.header_row .school_year
{
  float:left;
  font-size:13px;
  padding:3px;
  width:10px;
  margin-right:20px
}

.pair {
  padding-top: 46px;
}

.row_top
{
  float:left;
  background:#f2f2f2;
  font-size:11px;
  text-align:left;
  border-bottom:1px solid #ccc;
  width:100%;
  padding:5px 0px;
  text-transform:uppercase;
}

.report-content {
  float:left;
  width:100%;
}

.report-content .title {
  font-size: 12px;
  font-weight: bold;
  padding:5px;
  text-transform: uppercase;
  background:#f2f2f2;
  border-bottom:1px solid #ccc;
}

.report-content .report-average{
  font-size: 12px;
  font-weight: bold;
  padding:5px;
  text-transform: uppercase;
  background:#f2f2f2;
  border-bottom:1px solid #ccc;
}

.row {
  border-bottom:1px solid #ccc;
  text-align:left;
  width:100%;
  float:left;
  padding:2px 0px;
}


.row .txt {
  padding: 10px;
  border-left:1px solid #999;
}

/***table***/

table.gridtable {
  font-family:arial,sans-serif;
  font-size:13px;
  color:#333333;
  border:none;
  border-collapse: collapse;
  width:100%;
  text-align:center;
}

table.gridtable th {
  padding: 8px;
  border-bottom:1px solid #ccc;
  font-size:14px;
}

.th-subject-name {
  width:20%;
}

table.gridtable td {
  padding: 3px;
  border-bottom:1px solid #ccc;
  background-color: #ffffff;
}

table.gridtable tr {
  border-bottom:1px solid #ccc;
  background-color: #ffffff;
  text-align:center;
}

.subject_name
{
  text-align: left !important;
}

/***table***/

table.lefttable {
  font-family:arial,sans-serif;
  font-size:13px;
  color:#333333;
  border:none;
  border-collapse: collapse;
  width:100%;
  text-align:left;
}

table.lefttable tr {
  border-top:1px solid #ccc;
  background-color: #ffffff;
}

.colsleft{
  float:left;
  width: 33%;
}

.colsright{
  float:right;
}

.row{
  border:1px solid #ccc;
  float:left;
  margin-top:5px;
  margin-right:5px;
}

.titletable {
  font-size:13px;
  font-weight:bold;
  display:block;
  padding:3px;
}

.rowins{
  border:1px solid #ccc;
  margin-top:10px;
  padding:0px 5px;
}

.rowcom{
  border:1px solid #ccc;
  padding:0px 5px;
  float:left;
  width:46%;
  margin-top:5px;
  min-height: 5em;
}

.rowamon{
  border:1px solid #ccc;
  padding:0px 5px;
  float:right;
  width:46%;
  margin-top:5px;
}

.rowfirm_authority{
  border:1px solid #ccc;
  float:right;
  margin-top:10px;
  margin-left:5px;
  padding:0px 20px;
  height:126px;
}

.rowfirm_responsible{
  border:1px solid #ccc;
  float:right;
  margin-top:10px;
  margin-left:5px;
  padding:0px 15px;
  height:126px;
}

.rowfirm_teacher{
    border:1px solid #ccc;
    float:left;
    margin-top:10px;
    margin-left:5px;
    padding:0px 30px;
    height:126px;
}

.rownotice{
  border:1px solid #ccc;
  float:left;
  margin-top:10px;
  padding:0px 15px;
  height:150px;
  width:869px;
}
.report-header .school-year
{
    text-align:right;
    padding:5px 0px;
    margin-right: 10px;
    float:right;
}

/***table for calification sheet***/

table.gridtable_bordered {
    font-family:arial,sans-serif;
    font-size:13px;
    color:#333333;
    border:1px solid #ccc;
    border-collapse: collapse;
    width:100%;
    text-align:left;
}

table.gridtable_bordered th {
    padding: 3px;
    border:1px solid #ccc;
    font-size:14px;
}

table.gridtable_bordered td {
    padding: 3px;
    border:1px solid #ccc;
    background-color: #ffffff;
}

table.gridtable_bordered tr {
    border:1px solid #ccc;
    background-color: #ffffff;
    text-align:center;
}

.header_row .title2
{
  float:left;
  font-weight:bold;
  font-size:13px;
  padding-right:5px;
  padding-left: 5px;
}

.header_row .row-content
{
  float:left;
  font-size:13px;
}