      #form-wrapper {
        width: 70%;
        margin: 0 auto;
        text-align: center;
      }
      #form1 {
        width: 50%;
        display: inline-block;
        min-width:200px;
      }
      #form2 {
        width: 50%;
        display: inline-block;
        min-width:200px;
      }
      *{
       font-size: 30px;
       font-family: Arial;
      }

      .f2 {
       font-size: 90px;
       font-family: Arial;
      }
      table
      { 
        margin-left: 200px;
        margin-right: auto;
      }
