  /*    
#form-wrapper {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#form1 {
  width: 50%;
  display: inline-block;
  min-width:200px;
}

#form2 {
  width: 50%;
  display: inline-block;
  min-width:200px;
}


*{
  font-size: 30px;
  font-family: Arial;
}

.f2 {
  font-size: 90px;
  font-family: Arial;
}

table{ 
  margin-left: 200px;
  margin-right: auto;
}
*/


body {
  font-size: 12px;
}

img {
  margin: 40px;
}


h1 {
  text-align:center;
  font-size:30px;
}

h2 {
  font-weight:bold; 
  font-size:25px;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

h4 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
}

#nota {
  margin: 75px;
  text-align: left;
}

#firma {
  text-align: right;
  font-style: italic;
}

#datos-personales {
  text-align: left;
  margin: 75px;
}

#fecha {
  text-align: right;
  margin-bottom: 20px;
}

#datos-familiares {
  text-align: left;
  margin: 75px;
}

#datos-familiares div {
  margin-bottom: 20px
}

label {
  font-weight: bold;
}

.seleccion table {
  margin-left: 75px;
}

.tabla  {
  border-collapse: collapse;
}

.tabla td {
  font-family:Arial, sans-serif;
  font-size: 15px;
  padding: 15px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
}
.tabla th {
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 15px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
}

#datos-salud {
  text-align: left;
  margin: 75px;
}