.cs_student_many
{
  margin-left: 9em !important;
}

.cs_student_many .associated
{
  width: 250px;
  float: left;
  border-right: 2px solid #bcbcbc;
/*
border: 1px solid red;
*/
}

.cs_student_many .unassociated
{
  width: 250px;
  margin-left: -2px !important;
  float: left;
  border-left: 2px solid #bcbcbc;
  padding-left: 5px !important;
/*
  border: 1px solid red;
*/
}

.cs_student_many .title
{
  text-align: center;
  font-weight: bolder;
  color: #686868;
}

.cs_student_many li
{
  display: inline-block;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-right: 5px !important;
}

.cs_student_many ul
{
  margin: 0px !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.cs_student_many li a,
.cs_student_many li a:hover{
  text-decoration: underline !important;
  padding: 3px !important;
}

.cs_student_many .filter_criterias li a,
.cs_student_many .filter_criterias li a:hover
{
  text-decoration: none !important;
  background-color: #dedede !important;
  border-left: 1px solid #ababab;
}
.cs_student_many .filter_criterias li a:hover
{
  background-color: khaki !important;
}

.cs_student_many .help
{
  padding: 0px !important;
}

.cs_student_many .unassociated select
{
  width: 240px !important;
}


.cs_student_many .associated_actions li a.delete,
.cs_student_many .associated_actions li a.delete:hover
{
  text-decoration: none !important;
  background-color: #f8e5e6 !important;
  color: #ff0000 !important;
}

.cs_student_many .unassociated_container .add a,
.cs_student_many .unassociated_container .add a:hover
{
  text-decoration: none !important;
  background-color: #ddfed9 !important;
  color: #0a6700 !important;
}

.cs_student_many .associated_container li
{
  display: block !important;
}

.cs_student_many .fixed
{
  font-style: italic;
  font-weight: bolder;
}

.cs_student_many .associated_student span
{
  display: inline-block;
  width: 25px;
}

