generator:
  class: sfPropelRevisitedGenerator
  param:
    model_class:           Course
    theme:                 extended
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          pathway_commission
    with_propel_route:     1

    config:
      actions: ~
      fields:
        pathways_list:
          label: "Trayectorias de la comisión"
      list:
        title:             Pathway commission list
        display:           [name]
        layout:             stacked
        params:             |
          %%_pathway_commission_info%%
        actions:
          _new:
            credentials:    [new_course]
            label:          Nueva comisión
        batch_actions: []
        object_actions:
          _edit:
#            condition:      canBeEdited
            credentials:    [edit_course]

          add_subject:
            action:         addSubject
            credentials:    [edit_course]
#            condition:      canCourseSubjectStudent

          manage_students:
            action:         courseSubjectStudent
            credentials:    [edit_course]
            condition:      canManagePathwayCourseStudents
            
          preceptors:
            action:         preceptors
            condition:      canPathwayPreceptors
            credentials:    [edit_course_preceptors]

          califications:
            action:         califications
            condition:      canEditPathwayMarks
            credentials:    [edit_division_course_califications]

          print_califications:
            action:         printCalifications
          
          attendanceSubject:
            label:          Load Attendances
            action:         attendanceSubject
            condition:      canPathwayAttendanceSubject

          close:
            label:          Close
            action:         close
            condition:      canClosePathway

          _delete:
            condition:      canBeDeleted
            credentials:    [edit_course]
          
          assign_physical_sheet:
            action: assignPhysicalSheet
            condition: canAssignPhysicalSheet
            credentials: [assign_physical_sheet]
            
          generate_record:
            action: generateRecord
            condition: canGenerateRecord
            credentials: [generate_record]
            params:         confirm='¿Está seguro? Si el acta ya se encuentra generada se perderán los datos generados anteriormente.'
          
          print_record:
            action: printRecord
            condition: canPrintRecord
            credentials: [print_record]
            
      filter:
        display: [name, school_year_id]
      form:    ~
      show:
        title: Detalles de la comisión
        display: [ name, quota, school_year, division, _show_pathways_list]
      edit:
        title: Editar comisión
        actions:
          _list:
            label:        Volver al listado
          _save_and_list:
            label:        Guardar comisión
      new:
        title: Nueva comisión
        actions:
          _list:
            label:        Volver al listado
          _save_and_list:
            label:        Guardar comisión
          _save_and_add:
            label:        Guardar y agregar otra comisión