    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:80

    # This is the configuration for conservatorio
    Listen 127.0.0.1:80

    <VirtualHost 127.0.0.1:80>
      ServerName conservatorio.localhost
      DocumentRoot "/project_path/web"
      DirectoryIndex index.php
      <Directory "/project_path/web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "/usr/share/php/lib/php/symfony1.2/data/web/sf"
      <Directory "/usr/share/php/lib/php/symfony1.2/data/web/sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
