generator:
  class: sfPropelRevisitedGenerator
  param:
    model_class:           CourseSubjectStudentExamination
    theme:                 extended
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          course_subject_student_examination
    with_propel_route:     1

    config:
      actions: ~
      fields:
        course_subject_to_string:
          label:  Curso
      exportation:
        enabled: true
        title: Student list
        type: xls
        fieldSelection:
          student:
            label: Student
            method: getStudent
            decorator: text
          course_subject_to_string:
            label: Course
            method: getCourseSubjectToString
            decorator: text
      list:
        title:  Alumnos
        display:  [student, course_subject_to_string]
        max_per_page: 50
        batch_actions: []
        object_actions: []
        actions:
          back:
            label: Volver al listado
            action: back
          _user_export:
      filter:
        class: false
      form:    ~
      edit:    ~
      new:     ~
