generator:
  class: sfPropelRevisitedGenerator
  param:
    model_class:           ExaminationRepprovedSubject
    theme:                 extended
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          examination_repproved_subject
    with_propel_route:     1

    config:
      actions: ~
      fields:  ~
      list:
        title: Subjects
        layout: stacked
        params: |
          %%_information%%
        display: [Subjects]
        object_actions:
          _edit:
            credentials: [edit_examination_repproved_subject]

          students:
            action: students
            credentials: [edit_examination_repproved_subject]
            condition: canEditStudents

          califications:
            action: califications
            credentials: [[edit_examination_repproved_subject_califications, edit_closed_examination]]

          close:
            action: close
            condition: canBeClosed
            label: Close examination
            credentials: [edit_examination_repproved_subject]

          print_students:
            label: Print students
            action: printStudents
            
          _delete:
            condition: canDelete
            credentials: [edit_examination_repproved_subject]

        batch_actions: []
        actions:
          back:
            action: back
          _new:
            condition: canCreateExaminationRepprovedSubject

      filter:
        class:  false
      form:    ~
      edit:
        actions:
          _list:
          _save:
      new:     ~
