/* ThemeIEMenu Style Sheet */

.ThemeIEMenu,.ThemeIESubMenuTable
{
	cursor:		default;
	font-family:	verdana, arial, sans-serif;
	font-size:	13px;

	padding:	0;
	border:		0;
	white-space:	nowrap;
}

.ThemeIEMenu
{
	background-color:	#F7F3EF;
}

.ThemeIESubMenu
{
	position:	absolute;
	visibility:	hidden;
	overflow:	hidden;

	border:		0;
	padding:	0;
}

.ThemeIESubMenuShadow
{
	z-index:	-1;
	position:	absolute;
	top:		9px;
	left:		9px;
	width:		100%;
	height:		300em;
	background-color:	black;
	opacity:	0.45;
	border:		0;
	margin:		0;
}

.ThemeIESubMenuBorder
{
	border:		1px solid #ADAA9C;
	background-color:	white;
	padding:	2px;
	margin:		0px 3px 3px 0px;
}

.ThemeIESubMenuTable
{
	border:		0;
	background-color:	inherit;
}

.ThemeIESubMenuTable td
{
	white-space:	nowrap;
}

.ThemeIEMainItem,.ThemeIEMainItemHover,.ThemeIEMainItemActive,
.ThemeIEMenuItem,.ThemeIEMenuItemHover,.ThemeIEMenuItemActive
{
	padding:	1px 3px 1px 3px;
	white-space:	nowrap;
}

.ThemeIEMainItemHover,.ThemeIEMainItemActive,
.ThemeIEMenuItemHover,.ThemeIEMenuItemActive
{
	color:		white;
	background-color:	#3169C6;
}

td.ThemeIEMenuSplit
{
	margin:		0px;
	border:		0px;
	overflow:	hidden;
	background-color:	inherit;
}

div.ThemeIEMenuSplit
{
	height:		1px;
	margin:		1px 0px 1px 0px;
	overflow:	hidden;
	background-color:	inherit;
	border-top:	1px solid #ADAA9C;
}

.ThemeIEMenuVSplit
{
	width:		1px;
	margin:		0px;
	overflow:	hidden;
	background-color:	inherit;
	border-right:	1px solid #ADAA9C;
}

/* image shadow animation */

/*
	seq1:	image for normal
	seq2:	image for hover and active

	To use, in the icon field, input the following:
	<img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.ThemeIEMenuItem img.seq1
{
	display:	inline;
}

.ThemeIEMenuItemHover seq2,
.ThemeIEMenuItemActive seq2
{
	display:	inline;
}

.ThemeIEMenuItem .seq2,
.ThemeIEMenuItemHover .seq1,
.ThemeIEMenuItemActive .seq1
{
	display:	none;
}
