.navbar {
    padding: 1em;
    font-size: 1.5em;
    background-color: #3A256C !important;
}

.user-data li {
    background-color: white;
}

.user-data li a {
    color: black !important;
}

body {
    background-color: #e0e0e0 !important;
    text-align: left!important;
    font-family: 'Open Sans', sans-serif!important;
    font-size: 1.2em !important;
}

footer {
    width: 100%;
    bottom: 0;
    height: 85px;
    color: gray;
    text-align: center;
    font-size: 12px;
    padding-top: 2%
}

.container.absolute {
    margin-top: 12em;
}

.student-container {
    padding: 2em 2em 2em 2em !important;
    background-color: white;
    -webkit-box-shadow: 4px 4px 5px -1px rgba(186,186,186,0.63);
    -moz-box-shadow: 4px 4px 5px -1px rgba(186,186,186,0.63);
    box-shadow: 4px 4px 5px -1px rgba(186,186,186,0.63);
}

.student-container h1.student-name {
    color: black;
    font-size: 2em;
    margin-bottom: 0;
    font-weight: 200;
}

.person-container {
    padding: 2em 2em 2em 2em !important;
    background-color: white;
    -webkit-box-shadow: 4px 4px 5px -1px rgba(186,186,186,0.63);
    -moz-box-shadow: 4px 4px 5px -1px rgba(186,186,186,0.63);
    box-shadow: 4px 4px 5px -1px rgba(186,186,186,0.63);
}

.person-container h1.person-name {
    color: black;
    font-size: 2.5em;
    margin-bottom: 0;
    font-weight: 200;
}

.student-photo {
    text-align: center;
}

.student-photo img {
    width: 10em;
}

.personal-photo {
    text-align: center;
}

.personal-photo img {
    width: 15em;
}

.user-data img {
    width: 2em;
}

.student-document-number {
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: 600;
}

.student-document-type {
    font-weight: 600;
    font-size: 1.2em;
}

.person-document-number {
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 600;
}

.person-document-type {
    font-weight: 600;
    font-size: 1.5em;
}

.personal-data {
    margin-top: 1em;
    font-size: 1em;
}

.personal-data .detail {
    border-bottom: solid 1px lightgrey;
    line-height: 3em;
}

.personal-data .detail .icon {
    float: right;
    color: black;
    font-size: 1.3em;
}

.personal-data p {
    padding-top: 0.5em;
    font-size: large;
    font-weight: 200;
}

.student-container .personal-data p {
    font-size: larger;
}

.student-actions {
    margin-top: 1em;
    border-top: solid 1px lightgrey;
    padding-top: 1em;
}

.student-actions a {
    border-radius: 50px !important;
    padding: 1em;
}

.title-box {
    font-size: 2.2em;
    font-weight: 100;
    margin-bottom: 0.5em;
}

.title-icon img {
    width: 1.3em;
}

.action-box {
    margin-bottom: 1em;
}

.data-box {
    background-color: white;
    -webkit-box-shadow: 4px 4px 5px -1px rgba(186,186,186,0.63);
    -moz-box-shadow: 4px 4px 5px -1px rgba(186,186,186,0.63);
    box-shadow: 4px 4px 5px -1px rgba(186,186,186,0.63);
    padding: 2em;
}

 /* css de tabs*/
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}
/*fin de css de tabs*/
